.nav-bar{
    background-color: white;
    padding: 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading{
    font-size: 1.5rem;
}

.search-input{
    height: 5vh;
    width: 200px;
    font-size: 1rem;
}

.search-btn{
    font-size: 1rem;
    height: 5vh;
    color: var(--white-color);
    background-color: var(--primary-color);
    padding: 5px;
    border: none;
    border-radius: 5px;
}

.nav-links{
    display: flex;
    gap:8px;    
}

.nav-links .link{
    text-decoration: none;
    color: var(--black-color);
    transition: all 0.1s ease;
}

.nav-links .link:hover{
    font-size: 1.2rem;
    color:var(--primary-color)
}